@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-image: url('https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
#astro1 {
    width: 500px;
    position: absolute;
    top: 5%;
    left: 5%;
    animation: floating 4s infinite;
}
#astro2 {
    width: 370px;
    position: absolute;
    left: 35%;
    top: 43%;
    animation: floating2 4s infinite;
}
@keyframes floating {
    0%{
        transform: translateY(0px);

    }
    50%{
        transform: translateY(30px);
    }
}
@keyframes floating2 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
}
form {
    width: 320px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    right: 5%;
    padding: 20px 70px;
    gap: 20px;
    border-radius: 10px;
}
.form-sections {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}
input[type="number"], input[type="email"], select {
    width: 300px;
    height: 30px;
}
select {
    width: 310px;
    height: 35px;
}
#form-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
#submit {
    background-color: tomato;
    border: none;
    width: 150px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    /* padding: 10px 20px; */
    height: 40px;
}